@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");
.formbutton, .homebutton .homebuttondiv .viewmorebutton {
  display: inline-block;
  outline: 0;
  appearance: none;
  padding: 0px 12px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(9, 128, 76);
  box-shadow: rgba(19, 170, 82, 0.4) 0px 2px 3px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  transition: all 150ms ease-in-out 0s;
}
.formbutton:hover, .homebutton .homebuttondiv .viewmorebutton:hover {
  transform: scale(1.05);
}

/*
.button {
    @extend %button;
}*/
.productos .grid-container .ocarina, .productos .grid-container .otros, .productos .grid-container .legos, .productos .grid-container .accesorios, .productos .grid-container .ropa, .productos .games-container .games-item .games {
  width: 100%;
  height: auto;
}

.gettingstarted .getstartedcontainer .quickmenus,
.gettingstarted .getstartedcontainer .catchhorse,
.gettingstarted .getstartedcontainer .hoard,
.gettingstarted .getstartedcontainer .cook,
.gettingstarted .getstartedcontainer .dontsell,
.gettingstarted .getstartedcontainer .savemoney,
.gettingstarted .getstartedcontainer .interaction {
  margin-top: 20px;
  padding: 1px;
}

.titlehome, .abouttitle, .newstitle, .contacttitle {
  margin-top: 45px;
  font-size: 50px;
  text-align: center;
}

/*Colores*/
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
.animatedbackground {
  position: relative;
}

.background {
  position: absolute;
  width: 100vw;
  height: 800px;
  top: 0;
  left: 0;
  background: #042015;
  overflow: hidden;
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 800px;
  top: 0;
  left: 0;
  background: #042015;
  overflow: hidden;
}
.background span {
  width: 2vmin;
  height: 2vmin;
  border-radius: 2vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 1;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.background span:nth-child(0) {
  color: #0aa6a9;
  top: 92%;
  left: 31%;
  animation-duration: 460s;
  animation-delay: -126s;
  transform-origin: -7vw -207px;
  box-shadow: -4vmin 0 1.3031767147vmin currentColor;
}
.background span:nth-child(1) {
  color: #036343;
  top: 27%;
  left: 65%;
  animation-duration: 52s;
  animation-delay: -223s;
  transform-origin: 4vw 170px;
  box-shadow: -4vmin 0 1.4555503963vmin currentColor;
}
.background span:nth-child(2) {
  color: #0adba7;
  top: 36%;
  left: 18%;
  animation-duration: 226s;
  animation-delay: -300s;
  transform-origin: -14vw 56px;
  box-shadow: -4vmin 0 0.9793618825vmin currentColor;
}
.background span:nth-child(3) {
  color: #036343;
  top: 20%;
  left: 82%;
  animation-duration: 131s;
  animation-delay: -416s;
  transform-origin: 6vw -36px;
  box-shadow: -4vmin 0 1.0763338093vmin currentColor;
}
.background span:nth-child(4) {
  color: gold;
  top: 75%;
  left: 4%;
  animation-duration: 123s;
  animation-delay: -482s;
  transform-origin: -22vw -170px;
  box-shadow: -4vmin 0 0.598544942vmin currentColor;
}
.background span:nth-child(5) {
  color: #0adba7;
  top: 1%;
  left: 1%;
  animation-duration: 316s;
  animation-delay: -141s;
  transform-origin: 1vw -207px;
  box-shadow: 4vmin 0 0.9005950557vmin currentColor;
}
.background span:nth-child(6) {
  color: #0aa6a9;
  top: 89%;
  left: 20%;
  animation-duration: 89s;
  animation-delay: -173s;
  transform-origin: 24vw -288px;
  box-shadow: -4vmin 0 1.0347123671vmin currentColor;
}
.background span:nth-child(7) {
  color: #036343;
  top: 69%;
  left: 80%;
  animation-duration: 103s;
  animation-delay: -227s;
  transform-origin: 18vw 48px;
  box-shadow: -4vmin 0 1.1629472868vmin currentColor;
}
.background span:nth-child(8) {
  color: #0adba7;
  top: 91%;
  left: 75%;
  animation-duration: 157s;
  animation-delay: -442s;
  transform-origin: -15vw 144px;
  box-shadow: 4vmin 0 1.2501032598vmin currentColor;
}
.background span:nth-child(9) {
  color: gold;
  top: 96%;
  left: 11%;
  animation-duration: 243s;
  animation-delay: -160s;
  transform-origin: -15vw 24px;
  box-shadow: 4vmin 0 1.2632918836vmin currentColor;
}
.background span:nth-child(10) {
  color: #0aa6a9;
  top: 68%;
  left: 22%;
  animation-duration: 142s;
  animation-delay: -280s;
  transform-origin: -15vw -88px;
  box-shadow: -4vmin 0 0.5123556175vmin currentColor;
}
.background span:nth-child(11) {
  color: #0adba7;
  top: 72%;
  left: 64%;
  animation-duration: 150s;
  animation-delay: -18s;
  transform-origin: 21vw 80px;
  box-shadow: -4vmin 0 1.3466227252vmin currentColor;
}
.background span:nth-child(12) {
  color: #0aa6a9;
  top: 20%;
  left: 49%;
  animation-duration: 142s;
  animation-delay: -421s;
  transform-origin: 1vw 176px;
  box-shadow: 4vmin 0 0.8098404572vmin currentColor;
}
.background span:nth-child(13) {
  color: gold;
  top: 88%;
  left: 75%;
  animation-duration: 493s;
  animation-delay: -165s;
  transform-origin: 20vw 88px;
  box-shadow: 4vmin 0 0.8625891281vmin currentColor;
}
.background span:nth-child(14) {
  color: gold;
  top: 97%;
  left: 63%;
  animation-duration: 156s;
  animation-delay: -148s;
  transform-origin: 2vw -207px;
  box-shadow: -4vmin 0 1.0099111861vmin currentColor;
}
.background span:nth-child(15) {
  color: #0aa6a9;
  top: 7%;
  left: 99%;
  animation-duration: 236s;
  animation-delay: -196s;
  transform-origin: -19vw 24px;
  box-shadow: 4vmin 0 0.95203291vmin currentColor;
}
.background span:nth-child(16) {
  color: #0aa6a9;
  top: 66%;
  left: 64%;
  animation-duration: 360s;
  animation-delay: -254s;
  transform-origin: 12vw -40px;
  box-shadow: -4vmin 0 1.1212166849vmin currentColor;
}
.background span:nth-child(17) {
  color: #0aa6a9;
  top: 97%;
  left: 57%;
  animation-duration: 104s;
  animation-delay: -268s;
  transform-origin: -7vw -170px;
  box-shadow: -4vmin 0 1.2991007202vmin currentColor;
}
.background span:nth-child(18) {
  color: #0adba7;
  top: 94%;
  left: 11%;
  animation-duration: 137s;
  animation-delay: -177s;
  transform-origin: 8vw 10px;
  box-shadow: -4vmin 0 1.3667893389vmin currentColor;
}
.background span:nth-child(19) {
  color: #0aa6a9;
  top: 66%;
  left: 27%;
  animation-duration: 387s;
  animation-delay: -227s;
  transform-origin: 20vw -88px;
  box-shadow: 4vmin 0 0.6584119272vmin currentColor;
}
.background span:nth-child(20) {
  color: gold;
  top: 96%;
  left: 16%;
  animation-duration: 405s;
  animation-delay: -364s;
  transform-origin: 10vw 48px;
  box-shadow: 4vmin 0 0.5490405722vmin currentColor;
}
.background span:nth-child(21) {
  color: #0aa6a9;
  top: 94%;
  left: 27%;
  animation-duration: 269s;
  animation-delay: -209s;
  transform-origin: 1vw -170px;
  box-shadow: -4vmin 0 0.8727258493vmin currentColor;
}
.background span:nth-child(22) {
  color: #036343;
  top: 50%;
  left: 61%;
  animation-duration: 71s;
  animation-delay: -349s;
  transform-origin: -24vw 128px;
  box-shadow: 4vmin 0 1.0093120724vmin currentColor;
}
.background span:nth-child(23) {
  color: gold;
  top: 95%;
  left: 33%;
  animation-duration: 396s;
  animation-delay: -247s;
  transform-origin: -24vw -56px;
  box-shadow: 4vmin 0 0.6473483372vmin currentColor;
}
.background span:nth-child(24) {
  color: #0aa6a9;
  top: 17%;
  left: 11%;
  animation-duration: 362s;
  animation-delay: -335s;
  transform-origin: -1vw -207px;
  box-shadow: -4vmin 0 1.3041693804vmin currentColor;
}
.background span:nth-child(25) {
  color: #036343;
  top: 43%;
  left: 65%;
  animation-duration: 490s;
  animation-delay: -481s;
  transform-origin: -2vw -24px;
  box-shadow: -4vmin 0 1.1138960736vmin currentColor;
}
.background span:nth-child(26) {
  color: #0adba7;
  top: 90%;
  left: 80%;
  animation-duration: 35s;
  animation-delay: -193s;
  transform-origin: 25vw 48px;
  box-shadow: 4vmin 0 0.8374722261vmin currentColor;
}
.background span:nth-child(27) {
  color: #036343;
  top: 43%;
  left: 10%;
  animation-duration: 441s;
  animation-delay: -286s;
  transform-origin: -14vw -176px;
  box-shadow: -4vmin 0 1.3626060385vmin currentColor;
}
.background span:nth-child(28) {
  color: gold;
  top: 70%;
  left: 42%;
  animation-duration: 292s;
  animation-delay: -327s;
  transform-origin: -23vw -48px;
  box-shadow: 4vmin 0 0.6765638911vmin currentColor;
}
.background span:nth-child(29) {
  color: #0adba7;
  top: 40%;
  left: 58%;
  animation-duration: 43s;
  animation-delay: -446s;
  transform-origin: -24vw 96px;
  box-shadow: 4vmin 0 0.5697476471vmin currentColor;
}
.background span:nth-child(30) {
  color: gold;
  top: 2%;
  left: 26%;
  animation-duration: 133s;
  animation-delay: -200s;
  transform-origin: 18vw -144px;
  box-shadow: -4vmin 0 1.2128454806vmin currentColor;
}
.background span:nth-child(31) {
  color: #0aa6a9;
  top: 30%;
  left: 96%;
  animation-duration: 10s;
  animation-delay: -460s;
  transform-origin: -12vw 36px;
  box-shadow: -4vmin 0 1.2194995177vmin currentColor;
}
.background span:nth-child(32) {
  color: #0aa6a9;
  top: 4%;
  left: 53%;
  animation-duration: 159s;
  animation-delay: -149s;
  transform-origin: -8vw 64px;
  box-shadow: 4vmin 0 1.2102462359vmin currentColor;
}

footer {
  background-color: #256e4b;
  color: white; /*MAPS AGREGADO*/
  text-align: center;
  padding: 3px 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
}
footer .homefooter {
  background-color: #256e4b;
  color: white; /*MAPS AGREGADO*/
  text-align: center;
  padding: 0;
  bottom: 0;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.triforce {
  width: 20px;
  height: auto;
  margin-left: 20px;
}

.facebook {
  width: 16px;
  margin-top: 3px;
  display: inline-block;
  margin-right: 15px;
}

.socials a {
  margin: 0 1px;
}

.twitter {
  width: 16px;
  margin-top: 3px;
  display: inline-block;
  margin-right: 15px;
}

.instagram {
  width: 16px;
  margin-top: 3px;
  display: inline-block;
  margin-right: 15px;
}

.pcopy {
  display: flex;
  text-align: center;
  font-size: 12px;
  text-align: center;
  margin: 8px;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  scroll-behavior: smooth;
  color: white;
  min-width: 800px;
}
body a:hover, html a:hover {
  cursor: pointer;
}
body section p, html section p {
  font-size: 17px;
  text-align: center;
  margin: 0 8%;
}
body p, html p {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

header {
  position: relative;
}
header img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  font-size: 5px;
  color: rgb(173, 173, 173);
  text-decoration: none;
  margin: 8px;
  font-family: "Raleway", sans-serif;
}

.headerimage {
  display: block;
  width: 100%;
  height: 300px;
  border-bottom: 3px solid rgba(6, 105, 65, 0.8);
  transition: border-bottom-color 0.3s;
}
.headerimage:hover {
  border-bottom-color: rgb(7, 221, 154);
}

.navbar {
  background-color: rgba(6, 105, 65, 0.515);
  padding: 1px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.navbar ul li {
  display: inline-block;
  margin-right: 20px;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 2px 8px;
  border-radius: 3px;
  transition: background-color 0.3s;
}
.navbar ul li a:hover {
  background-color: rgba(7, 221, 153, 0.636);
}

.navbarnews {
  background-color: rgba(6, 105, 65, 0.515);
  padding: 1px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.navbarnews ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.navbarnews ul li {
  display: inline-block;
  margin-right: 20px;
}
.navbarnews ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 2px 8px;
  border-radius: 3px;
  transition: background-color 0.3s;
}
.navbarnews ul li a:hover {
  background-color: rgba(7, 221, 153, 0.636);
}

.navbarhome {
  background-color: rgba(6, 105, 65, 0.515);
  padding: 1px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.navbarhome ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.navbarhome ul li {
  display: inline-block;
  margin-right: 20px;
}
.navbarhome ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 2px 8px;
  border-radius: 3px;
  transition: background-color 0.3s;
}
.navbarhome ul li a:hover {
  background-color: rgba(7, 221, 153, 0.636);
}

h1 {
  font-family: "Salsa", cursive;
  font-size: 40px;
}

h2, h3 {
  text-align: center;
  color: white;
}
h2,
h2 .titlehome, h3,
h3 .titlehome {
  font-family: "Salsa", cursive;
  font-size: 50px;
}

.titlehome, .abouttitle, .newstitle, .contacttitle {
  color: white;
}

h2 {
  font-family: "Salsa", cursive;
  font-size: 35px;
  color: white;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 25px;
  margin-bottom: 25px;
}

main .homepage {
  margin-bottom: 90px;
}
main .homepage .storylinebox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  background-color: rgba(114, 255, 227, 0.4745098039);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 0 auto;
}
main .homepage .storyline {
  font-size: 16px;
  align-items: center;
  line-height: 1.6;
  color: #ffffff;
  margin: 0px;
}
main .homepage .storyline strong {
  font-weight: bold;
  color: #00eac3;
}
main .youtubes {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .youtubes .firsttrailer {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}
main .youtubes .firsttrailer iframe {
  border: none;
  width: 30%;
  height: 180px;
}
main .youtubes .othertrailers {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}
main .youtubes .othertrailers iframe {
  border: none;
  width: 30%;
  height: 200px;
  margin: 20px;
}

.newspreview h2 {
  margin-top: 80px;
  color: white;
}
.newspreview .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
  gap: 20px;
}
.newspreview .homecards {
  position: relative;
  width: 300px;
  overflow: hidden;
  transition: transform 0.3s ease;
  color: black; /*MAPS AGREGADO*/
  background-color: white; /*MAPS AGREGADO*/
  border-radius: 3px;
  border: 1px solid black;
}
.newspreview .homecards img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease, border 0.3s ease;
}
.newspreview .homecards img:hover {
  transform: scale(1.05);
}
.newspreview .homecards:hover {
  transform: scale(1.05);
  border: 2px solid gold;
  box-shadow: 0 10px 14px rgb(255, 255, 255);
}
.newspreview .homecards:hover .homecard-text {
  opacity: 1;
}
.newspreview .homecard-text {
  padding: 5px;
  font-size: 14px;
}

.homebutton .homebuttondiv {
  display: flex;
  justify-content: center;
}
.homebutton .homebuttondiv .viewmorebutton a {
  color: white; /*MAPS AGREGADO*/
  text-decoration: none;
}
.homebutton .homebuttondiv .viewmorebutton:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(17, 97, 73);
  box-shadow: rgba(6, 105, 65, 0.46) 0px 2px 3px, rgb(195, 231, 202) 0px 0px 0px 3px;
  box-shadow: rgba(6, 105, 65, 0.46) 0px 2px 3px, rgb(195, 231, 202) 0px 0px 0px 3px;
}

main .cardsabout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 30px 0 50px 0;
}
main .cardsabout .card-courage {
  flex: 1;
  position: relative;
  max-width: 210px;
  overflow: hidden;
  border-radius: 5px;
}
main .cardsabout .card-courage img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  border-radius: 3px;
  transition: transform 0.3s ease, border 0.3s ease;
}
main .cardsabout .card-courage:hover {
  box-shadow: 0 10px 14px rgb(255, 255, 255);
}
main .cardsabout .card-courage:hover img {
  opacity: 0.3;
  transform: scale(1.1);
}
main .cardsabout .card-courage:hover .card-textabout {
  display: flex;
  opacity: 1;
}
main .cardsabout .card-wisdom {
  flex: 1;
  position: relative;
  max-width: 210px;
  overflow: hidden;
  border-radius: 5px;
}
main .cardsabout .card-wisdom img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  border-radius: 3px;
  transition: transform 0.3s ease, border 0.3s ease;
}
main .cardsabout .card-wisdom:hover {
  box-shadow: 0 10px 14px rgb(255, 255, 255);
}
main .cardsabout .card-wisdom:hover img {
  opacity: 0.3;
  transform: scale(1.1);
}
main .cardsabout .card-wisdom:hover .card-textabout {
  display: flex;
  opacity: 1;
}
main .cardsabout .card-power {
  flex: 1;
  position: relative;
  max-width: 210px;
  overflow: hidden;
  border-radius: 5px;
}
main .cardsabout .card-power img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  border-radius: 3px;
  transition: transform 0.3s ease, border 0.3s ease;
}
main .cardsabout .card-power:hover {
  box-shadow: 0 10px 14px rgb(255, 255, 255);
}
main .cardsabout .card-power:hover img {
  opacity: 0.3;
  transform: scale(1.1);
}
main .cardsabout .card-power:hover .card-textabout {
  display: flex;
  opacity: 1;
}
main .cardsabout .card-textabout {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 13px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  border-radius: 5px;
  color: white; /*MAPS AGREGADO*/
  opacity: 0;
  transition: opacity 0.3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.gettingstarted {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.gettingstarted .getstartedcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 740px;
  padding: 1px;
  background-color: rgba(6, 105, 65, 0.515);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}
.gettingstarted .getstartedcontainer .titlegettingstarted {
  color: #ffffff;
  text-align: center;
}
.gettingstarted .getstartedcontainer .menulinks {
  position: sticky;
  top: 10px;
  margin-top: 12px;
  text-align: center;
}
.gettingstarted .getstartedcontainer .menulinks a {
  display: inline-block;
  margin: 15px 5px;
  padding: 5px 10px;
  background-color: rgba(6, 105, 65, 0.8);
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s;
}
.gettingstarted .getstartedcontainer .menulinks a:hover {
  background-color: rgb(10, 172, 107);
}
.gettingstarted .getstartedcontainer #lookaround {
  color: white;
  margin-top: 15px;
}
.gettingstarted .getstartedcontainer #lookaround .pgettingstarted {
  text-align: center;
  color: white;
  margin-top: 10px;
  line-height: 1.6;
}
.gettingstarted .getstartedcontainer .lookaround {
  margin-top: 20px;
}
.gettingstarted .getstartedcontainer .interaction {
  padding-bottom: 40px;
}
.gettingstarted .getstartedcontainer .decorative-line {
  margin: 30px 0;
  text-align: center;
}
.gettingstarted .getstartedcontainer .decorative-line::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #10ba79;
  margin-right: 10px;
}

.merchandising {
  text-align: center;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.merchandising p {
  margin-top: 15px;
  color: white;
  position: relative;
}
.merchandising p:hover {
  color: rgb(148, 205, 255);
}

.productos {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0);
}
.productos .games-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.productos .games-container a {
  text-decoration: none;
}
.productos .games-container .games-item {
  background-color: white;
  border-radius: 3px;
  border: 2px solid gold;
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 20px 10px;
  border-radius: 3px;
  transition: opacity 0.3s ease;
}
.productos .games-container .games-item .games-item {
  margin: 20px 10px;
  border-radius: 3px;
  transition: opacity 0.3s ease;
}
.productos .games-container .games-item p {
  margin-top: 16px;
  color: black;
  position: relative;
}
.productos .games-container .games-item p:hover {
  color: rgb(148, 205, 255);
}
.productos .games-container .games-item .games {
  transition: transform 0.3s ease;
}
.productos .games-container .games-item:hover {
  border: 2px solid rgb(0, 252, 185);
  box-shadow: 0 10px 14px rgb(255, 255, 255);
}
.productos .games-container .games-item:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.productos .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 50px;
  margin-top: 30px;
}
.productos .grid-container .grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
  border-radius: 3px;
  border: 2px solid gold;
  width: 200px;
  height: auto;
}
.productos .grid-container .grid-item p {
  margin-top: 10px;
  color: black;
  background-color: white;
  position: relative;
}
.productos .grid-container .grid-item p:hover {
  color: rgb(148, 205, 255);
}
.productos .grid-container .grid-item a {
  text-decoration: none;
}
.productos .grid-container .grid-item:hover {
  border: 2px solid rgb(0, 252, 185);
  box-shadow: 0 10px 14px rgb(255, 255, 255);
}
.productos .grid-container .grid-item:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.productos .grid-container .ocarina {
  padding-bottom: 50px;
}

.newspage {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}
.newspage .newsp {
  margin-bottom: 30px;
}

.newscard {
  justify-self: center;
  background-color: rgb(243, 243, 243);
  color: black; /*MAPS AGREGADO*/
  width: 18rem;
  height: 375px;
  margin: 10px;
  border: 2px solid gold;
  transition: transform 0.3s ease;
}
.newscard:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 14px rgb(255, 255, 255);
}
.newscard img {
  width: 100%;
  transition: transform 0.3s ease, border 0.3s ease;
}
.newscard .newscard-body {
  text-align: center;
}
.newscard .newscard-body .newscard-title {
  font-size: 14px;
  margin-top: 3px;
  padding: 1px;
}
.newscard .newscard-body p {
  font-size: 13px;
}
.newscard .newscard-body a {
  text-decoration: none;
  color: white; /*MAPS AGREGADO*/
}
.newscard .newscard-body .btn-primary {
  margin-top: 20px;
  margin-bottom: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact fieldset {
  border: none;
  text-align: center;
  margin: 20px;
}
.contact fieldset legend {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 600px;
}
.contact fieldset .formcontainer {
  background-color: rgba(6, 105, 65, 0.515);
  max-width: 400px;
  margin: 20px auto;
  padding: 5px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.contact fieldset .formcontainer:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 14px rgb(255, 255, 255);
}
.contact fieldset .formcontainer .name,
.contact fieldset .formcontainer .email,
.contact fieldset .formcontainer .options,
.contact fieldset .formcontainer .message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.contact fieldset .formcontainer .name label,
.contact fieldset .formcontainer .email label,
.contact fieldset .formcontainer .options label,
.contact fieldset .formcontainer .message label {
  margin-bottom: 5px;
}

.formbutton:hover {
  background-color: rgb(17, 97, 73);
  box-shadow: 0px 2px 3px rgba(19, 170, 82, 0.4), 0px 0px 0px 3px rgb(195, 231, 202);
}

.gif {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-top: 40px;
}

.gifkorok {
  border: none;
}

@media only screen and (max-width: 480px) {
  /*Header & navbar */
  header img {
    height: 400px;
  }
  .navbar header.navbarnews header.nabvarhome ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .navbar header.navbarnews header.nabvarhome ul li {
    align-items: center;
    padding: 0px;
  }
  .navbar header.navbarnews header.nabvarhome ul a {
    display: inline-block;
    font-size: 10px;
    margin: 3px 0;
    padding: 0px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  /*home*/
  .storylinebox {
    width: 80%;
  }
  iframe {
    display: inline-block;
    margin-bottom: 20px;
    width: 70%;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /*About*/
  .cardsabout, .cardquery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px 0px;
  }
  .cardsabout .cardtextabout, .cardquery .cardtextabout {
    font-size: 15px;
  }
  .merchandising {
    margin: 20px;
  }
  .productos {
    max-width: 100%;
    padding: 0 10px;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-container .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
  }
  /*News*/
  .newspage {
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
  }
  .newspage .newscard {
    margin: 10px 40px;
  }
  /*Contact*/
  .contacttext {
    width: 70%;
    margin: 0 auto;
  }
  .name, .email, .message, .options {
    margin: 10px 0;
  }
  .formbutton {
    margin-top: 20%;
  }
  /*Footer*/
  footer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-top: 10px;
  }
  footer .pcopy {
    padding-top: 3px;
    margin: 2px;
  }
  footer .triforce {
    padding-top: 3px;
    margin: 2px;
    width: 18px;
  }
  footer .socials {
    padding-top: 3px;
    margin: 2px;
  }
  footer .socials img {
    width: 20px;
    margin: 5px 10px;
  }
  footer .socials .facebook, footer .socials .twitter, footer .socials .instagram {
    margin-right: 0;
    width: 18px;
    padding-top: 3px;
  }
}
@media only screen and (max-width: 768px) {
  header img {
    width: 100%;
    height: 500px;
  }
  .navbar header.navbarnews header.nabvarhome ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .navbar header.navbarnews header.nabvarhome ul li {
    align-items: center;
    padding: 0px;
  }
  .navbar header.navbarnews header.nabvarhome ul a {
    display: block;
    font-size: 12px;
    margin: 3px 0;
    padding: 0px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
  /*home*/
  .storylinebox {
    width: 90%;
  }
  iframe {
    display: inline-block;
    margin-bottom: 20px;
    width: 70%;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /*About*/
  .cardsabout, .cardquery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: -60px;
  }
  .cardsabout .cardtextabout, .cardquery .cardtextabout {
    font-size: 15px;
  }
  /*Merch*/
  .merchandising {
    margin: 30px;
  }
  .productos {
    max-width: 100%;
    padding: 0 20px;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  /*News*/
  .newspage {
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
  }
  /*Contact*/
  .contacttext {
    width: 90%;
    margin: 0 auto;
  }
  .name, .email, .message, .options {
    margin: 10px 0;
  }
  .formbutton {
    margin-top: 30px;
  }
  /*Footer*/
  footer {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 50px;
    padding-top: 0px;
  }
  footer .pcopy {
    text-align: center;
    padding: 0;
    margin: 2px;
  }
  footer .triforce {
    padding: 0;
    margin: 2px;
  }
  footer .socials {
    padding: 0;
    margin: 2px;
  }
  footer .socials img {
    width: 25px;
    margin-top: 5px;
  }
  footer .socials .facebook, footer .socials .twitter, footer .socials .instagram {
    margin-right: 0;
    width: 18px;
    padding-top: 3px;
  }
}

/*# sourceMappingURL=style.css.map */
