* {
	margin: 0;
	padding: 0;
  }
  
  body, html {
	scroll-behavior: smooth;
	color: map-get($colores, third);  
	a {
	  &:hover {
		cursor: pointer;
	  }
	}
  
	section {
	  p {
		font-size: 17px;
		text-align: center;
		margin: 0 8%;
	  }
	}
  
	p {
	  font-family: 'Raleway', sans-serif;
	  font-size: 25px;
	}
  }