.contact {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
  
	  fieldset {
		border: none;
		text-align: center;
		legend{
		font-family: 'Raleway', sans-serif;
		font-size: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
		width: 500px;

	  }
	
	  .formcontainer {
		background-color: rgba(6, 105, 65, 0.515);
		max-width: 400px;
		margin: 0 auto;
		padding: 5px;
		border-radius: 8px;
  
		.name,
		.email,
		.options,
		.message {
		  display: flex;
		  flex-direction: column;
		  align-items: center;
		  margin: 20px;
  
		  label {
			margin-bottom: 5px;
		}
	  }
	}
}
}

.formbutton {
		@extend %button;
		&:hover {
		  background-color: rgb(17, 97, 73);
		  box-shadow: 0px 2px 3px rgba(19, 170, 82, 0.4), 0px 0px 0px 3px rgba(195, 231, 202);
		}
	}

.gif {
	  display: flex;
	  justify-content: center;
	  text-decoration: none;
	  margin-top: 40px;
	}
	.gifkorok {
	  border: none;
}