.homefooter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #256e4b;
	color: map-get($colores, third);
	text-align: center;
	padding: 0;
	bottom: 0;
	width: 100%;

.triforce {
	width: 18px;
	height: auto;
	margin-left: 20px;
}
.pcopy {
	display: flex;
	text-align: center;
	font-size: 12px;
	text-align: center;
	margin: 8px;
	padding: 0;
}
.socials {
	.facebook,
	.twitter,
	.instagram {
		width: 16px;
		margin-top: 3px;
		display: inline-block;
		margin-right: 5px;
	}
}
}