.homefooter {
	background-color: #256e4b;
	color: map-get($colores, third);
	text-align: center;
	padding: 2px 0;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.triforce {
	width: 20px;
	height: auto;
	margin-left: 20px;
}
.facebook {
	width: 16px;
	margin-top: 3px;
	display: inline-block;
	margin-right: 5px;
}
.socials {
	margin-right: 20px;
	a {
		margin: 5px;
	}
}
.twitter {
	width: 16px;
	margin-top: 3px;
	display: inline-block;
	margin-right: 5px;
}
.instagram {
	width: 16px;
	margin-top: 3px;
	display: inline-block;
	margin-right: 5px;
}
.pcopy {
	display: flex;
	text-align: center;
	font-size: 12px;
	text-align: center;
	margin: 8px;
	padding: 0;
}
