main {
	.homepage {
		margin-bottom: 20px;
		.storylinebox {
			margin: 30px auto;
			padding: 18px;
			background-color: #72ffe379;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			width: 70%;
			margin-bottom: 70px;
			@media only screen and (max-width: 768px) {
				width: 90%;
				}
		}
		.storyline {
			font-size: 16px;
			align-items: center;
			line-height: 1.6;
			color: #ffffff;
			margin: 0px;
			strong {
				font-weight: bold;
				color: #00eac3;
			}
		}
	}
	
	.trailers {
		text-align: center;

		.firsttrailer {
			display: inline-block;
			margin-bottom: 20px;
			width: 100%;
			iframe {
				border: none;
				width: 50%;
				@media only screen and (max-width: 768px) {
					display: inline-block;
					margin-bottom: 20px;
					width: 70%;
				}
			}
		}
		.othertrailers {
			iframe {
				border: none;
				width: 50%;
				@media only screen and (max-width: 768px) {
					display: inline-block;
					margin-bottom: 20px;
					width: 70%;
				}
			}
			display: inline-block;
			margin-bottom: 20px;
			width: 100%;
		}
		
	}
}