main {
	.homepage {
		margin-bottom: 90px;
		.storylinebox {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 18px;
			background-color: #72ffe379;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			width: 60%;
			margin: 0 auto;
		}
		.storyline {
			font-size: 16px;
			align-items: center;
			line-height: 1.6;
			color: #ffffff;
			margin: 0px;
			strong {
				font-weight: bold;
				color: #00eac3;
			}
		}
	}
	
	.youtubes {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.firsttrailer {
			display: inline-block;
			margin-bottom: 20px;
			width: 100%;
			iframe {
				border: none;
				width: 30%;
				height: 180px;

			}
		}
		.othertrailers {
			iframe {
				border: none;
				width: 30%;
				height: 200px;
				margin: 20px;
			}
			display: inline-block;
			margin-bottom: 20px;
			width: 100%;
		}
	}
}