@media only screen and (max-width: 480px) {
 
    body{
      background-color: #036343;
    }
  
    header img {
      height: 30vh;
    }
    header h1, header .titlehome {
      font-size: 30px;
    }
    header h2 {
      font-size: 25px;
    }
    header h3 {
      font-size: 20px;
    }
    header .merchandising {
      margin: 20px;
    }
    header .productos {
      max-width: 100%;
      padding: 0 10px;
    }
    header .grid-container {
      grid-template-columns: repeat(1, 1fr);
    }
    header .grid-item {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 60%;
    }
    .cardsabout, .cardsquery {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .card-textabout {
      font-size: 15px;
    }
    .newspage {
      grid-template-columns: repeat(1, 1fr);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px auto;
    }
    .newscard {
      margin: 10px 40px;
    }
    .grid-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 50px;
      padding: 0px;
    }
    footer {
      flex-direction: column;
      margin-top: 50px;
      padding-top: 10px;
    }
    footer .triforce {
      margin-top: 90px;
      width: 20px;
    }
    footer .facebook, footer .twitter, footer .instagram {
      margin-right: 0;
      width: 20px;
      padding-top: 3px;
    }
    footer .pcopy, footer .triforce, footer .socials {
      padding-top: 3px;
      margin: 2px;
    }
    footer .socials img {
      width: 20px;
      margin: 5px 10px;
    }
  }
  @media only screen and (max-width: 768px) {
    .navbar ul, .navbarnews ul, .navbarhome ul {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      padding: 0px;
    }
    .navbar ul li a, .navbarnews ul li a, .navbarhome ul li a {
      display: block;
      font-size: 12px;
      margin: 3px 0;
      padding: 0px;
    }
  
    header img {
      height: 40vh;
    }
    header h1, header .titlehome {
      font-size: 40px;
    }
    header h2 {
      font-size: 30px;
    }
    header h3 {
      font-size: 25px;
    }
  
    .storylinebox {
      width: 90%;
    }
    iframe {
      display: inline-block;
      margin-bottom: 20px;
      width: 70%;
    }
  
    .card-container {
      display: flex;
      flex-direction: column;
    }
  
    .cardsabout {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 0px;
    }
    .card-textabout {
      font-size: 15px;
    }
  
    .merchandising {
      margin: 30px;
    }
    .productos {
      max-width: 100%;
      padding: 0 20px;
    }
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .newspage {
      grid-template-columns: repeat(1, 1fr);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px auto;
    }
  
    .contacttext {
      width: 70%;
      margin: 0 auto;
    }
    .formbutton {
      margin-top: 30px;
    }
  
    .contacttext {
      width: 90%;
      margin: 0 auto;
    }
    .name, .email, .message, .options {
      margin: 10px 0;
    }
    .formbutton {
      margin-top: 20px;
    }
  
    footer {
      flex-direction: row;
      margin-top: 50px;
      padding: 0px;
    }
    footer .triforce {
      margin: 10px 0;
      width: 20px;
    }
    footer .facebook, footer .twitter, footer .instagram {
      margin-right: 10px;
      width: 20px;
      padding: 0px;
    }
    footer .pcopy, footer .triforce, footer .socials {
      padding: 0px;
      margin: 2px;
    }
    footer .pcopy {
      margin-left: 80px;
      text-align: center;
    }
    footer .socials img {
      width: 25px;
      margin-top: 5px;
    }
  }
