.newspage {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(3, 1fr);

	.newsp {
		margin-bottom: 30px;
	}
}

.newscard {
	justify-self: center;
	background-color: rgb(243, 243, 243);
	color: map-get($colores, fourth); /*MAPS AGREGADO*/
	width: 18rem;
	margin: 10px;
	border: 2px solid gold;
	transition: transform 0.3s ease;
	    &:hover {
		transform: scale(1.05);
		box-shadow: 0 10px 14px rgb(255, 255, 255);
	}
	    img {
		width: 100%;
		transition: transform 0.3s ease, border 0.3s ease;
	}

	.newscard-body {
		text-align: center;
		.newscard-title {
			font-size: 15px;
			margin-top: 3px;
			padding: 1px;
		}
		p {
			font-size: 14px;
		}
		a {
			text-decoration: none;
			color: map-get($colores, third); /*MAPS AGREGADO*/
		}

	.btn-primary {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	}
}