/* se usa % placeholder + nombre {propiedades} */
%button {
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0px 12px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(9, 128, 76);
    box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    transition: all 150ms ease-in-out 0s;
}

/*
.button {
    @extend %button;
}*/

%card {
    width: 100%;
	height: auto;
}

%getstarted {
    margin-top: 20px;
	padding: 1px;
}

%titles {
    margin-top: 45px;
    font-size: 50px;
    text-align: center;
    
}
